p
{
    color: DDF7E3;
    font-style: italic;
    font-size: 40px;
    text-align-last: center;
}
body{
    /* background-color: CFF5E7; */
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wallpaperflare.com%2Fblue-green-lines-streaks-wallpaper-brawg&psig=AOvVaw3rK7hbRMmZfj1ac2y0w3UJ&ust=1680541892699000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLjql8bYi_4CFQAAAAAdAAAAABAE");
    background-size: 1500px;
}
.text
{
    margin-top: 25%;
    /* margin-left: 10%;  */
    width: auto;
    align-self: center;
    /* background-color: azure; */
    border-radius: 20px;
}
ul
{
    color: DDF7E3;
}
h1
{
    color: aliceblue;
}
